
<div class="container">

  <h1 class="form-item">Todo Angular!</h1>
  <hr>
  <input type="text" class="form-control" placeholder="type here"  [(ngModel)]="textvalue">

  <button (click)="onCli()" [disabled]="textvalue.length===0" class="btn btn-primary" >Add new</button>
 


  <hr>

  <div class="row">
    <div class="col-6">
      <ul class="list-group mt-5" >
        <li class="list-group-item" *ngFor="let item of items; let i=index">
          {{i}} {{item}}
          <span class="badge badge-danger pointer ml-2" 
          (click)=onDeleteItem(i)>X</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div role="alert" class="alert alert-danger mt-2" *ngIf="isShowErrorMessage">Please Enter valid value we dont add null here!</div>
  </div>

  
  <div class="row">
    <div class="alert alert-success" role="alert" *ngIf="textSuccessful">Successfully added rows!</div>
  </div>

  <div class="row">
    <div role="alert" class="alert alert-danger mt-2" *ngIf="isShowDelete">Sucessfully deleted!</div>
  </div>




</div>

<router-outlet></router-outlet>
